
*.user
tmp/
cmake*_arm/
cmake*_link/
build_*/
tests/sl_report.txt
doc/xml
libraries/API/doc/
libraries/ChronoAPI/doc/
libraries/FsAPI/doc/
libraries/PrinterAPI/doc/
libraries/SysAPI/doc/
libraries/TestAPI/doc/
libraries/ThreadAPI/doc/
libraries/VarAPI/doc/
